@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@config "../../../tailwind.config.ts";

@plugin "daisyui/theme" {
  name: "lightTheme";
  default: true;
  color-scheme: light;

  --color-base: '#FFFFFF';
  --color-primary: '#45bdbf';
  --color-primary-content: '#FFFFFF';
  --color-secondary: '#ff9900';
  --color-secondary-content: '#FFFFFF';
  --color-accent: '#FFBC42';
  --color-accent-content: '#FFFFFF';
  --color-neutral: '#D1D5DB';
  --color-neutral-content: '#FFFFFF';
  --color-info-content: '#FFFFFF';
  --color-success-content: '#FFFFFF';
  --color-warning-content: '#FFFFFF';
};

@plugin "daisyui/theme" {
  name: "darkTheme";
  prefersdark: true;
  color-scheme: dark;

  --color-base: '#111827';
  --color-primary:'#45bdbf';
  --color-primary-content:'' #FFFFFF';
  --color-secondary: '#ff9900';
  --color-secondary-content: '#FFFFFF';
  --color-accent: #FFBC42;
  --color-accent-content: '#FFFFFF';
  --color-neutral: '#D1D5DB';
  --color-neutral-content: '#FFFFFF';
  --color-info-content: '#FFFFFF';
  --color-success-content: #FFFFFF';
  --color-warning-content: '#FFFFFF';
};

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Color theme
/* ----------------------------------------------------------------------------------------------------- */
@layer base {

}

@theme {
  --color-primary: var(--primary);
  --color-primary-50: '#f2fbfa';
  --color-primary-100: '#d2f5f2';
  --color-primary-200: '#a5eae7';
  --color-primary-300: '#70d8d6';
  --color-primary-400: '#45bdbf';
  --color-primary-500: '#29a0a3';
  --color-primary-600: '#1f7c82';
  --color-primary-700: '#1c6469';
  --color-primary-800: '#1b5054';
  --color-primary-900: '#1b4346';
  --color-primary-950: '#0a2529';

  --color-secondary: var(--secondary);
  --color-secondary-50: '#fffbea';
  --color-secondary-100: '#fff2c5';
  --color-secondary-200: '#ffe685';
  --color-secondary-300: '#ffd246';
  --color-secondary-400: '#ffbd1b';
  --color-secondary-500: '#ff9900';
  --color-secondary-600: '#e27200';
  --color-secondary-700: '#bb4d02';
  --color-secondary-800: '#983b08';
  --color-secondary-900: '#7c310b';
  --color-secondary-950: '#481700';
}