@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
  name: "lightTheme";
  default: true;
  color-scheme: light;

  --color-base: '#FFFFFF';
  --color-primary: '#45bdbf';
  --color-primary-content: '#FFFFFF';
  --color-secondary: '#ff9900';
  --color-secondary-content: '#FFFFFF';
  --color-accent: '#FFBC42';
  --color-accent-content: '#FFFFFF';
  --color-neutral: '#D1D5DB';
  --color-neutral-content: '#FFFFFF';
  --color-info-content: '#FFFFFF';
  --color-success-content: '#FFFFFF';
  --color-warning-content: '#FFFFFF';
};

@plugin "daisyui/theme" {
  name: "darkTheme";
  prefersdark: true;
  color-scheme: dark;

  --color-base: '#111827';
  --color-primary:'#45bdbf';
  --color-primary-content:'' #FFFFFF';
  --color-secondary: '#ff9900';
  --color-secondary-content: '#FFFFFF';
  --color-accent: #FFBC42;
  --color-accent-content: '#FFFFFF';
  --color-neutral: '#D1D5DB';
  --color-neutral-content: '#FFFFFF';
  --color-info-content: '#FFFFFF';
  --color-success-content: #FFFFFF';
  --color-warning-content: '#FFFFFF';
};

@custom-variant dark (&:where([data-theme=darkTheme], [data-theme=darkTheme] *));

@theme {
  --color-primary: var(--primary);
  --color-primary-50: '#f2fbfa';
  --color-primary-100: '#d2f5f2';
  --color-primary-200: '#a5eae7';
  --color-primary-300: '#70d8d6';
  --color-primary-400: '#45bdbf';
  --color-primary-500: '#29a0a3';
  --color-primary-600: '#1f7c82';
  --color-primary-700: '#1c6469';
  --color-primary-800: '#1b5054';
  --color-primary-900: '#1b4346';
  --color-primary-950: '#0a2529';

  --color-secondary: var(--secondary);
  --color-secondary-50: '#fffbea';
  --color-secondary-100: '#fff2c5';
  --color-secondary-200: '#ffe685';
  --color-secondary-300: '#ffd246';
  --color-secondary-400: '#ffbd1b';
  --color-secondary-500: '#ff9900';
  --color-secondary-600: '#e27200';
  --color-secondary-700: '#bb4d02';
  --color-secondary-800: '#983b08';
  --color-secondary-900: '#7c310b';
  --color-secondary-950: '#481700';

  --icon-size-3: 0.75rem !important;
  --icon-size-4: 1rem !important;
  --icon-size-5: 1.25rem !important;
  --icon-size-6: 1.5rem !important;
  --icon-size-7: 1.75rem !important;
  --icon-size-8: 2rem !important;
  --icon-size-10: 2.5rem !important;
  --icon-size-12: 3rem !important;
  --icon-size-14: 3.5rem !important;
  --icon-size-16: 4rem !important;
  --icon-size-18: 4.5rem !important;
  --icon-size-20: 5rem !important;
  --icon-size-22: 5.5rem !important;
  --icon-size-24: 6rem !important;

  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);

  --scale-96: 0.96;
  --scale-97: 0.97;
  --scale-98: 0.98;

  --opacity-12: 0.12;
  --opacity-38: 0.38;
  --opacity-87: 0.87;

  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
  --spacing-18: 4.5rem;
  --spacing-22: 5.5rem;
  --spacing-26: 6.5rem;
  --spacing-30: 7.5rem;
  --spacing-50: 12.5rem;
  --spacing-90: 22.5rem;

  /* Fractional values */
  --spacing-1\/2: 50%;
  --spacing-1\/3: 33.333333%;
  --spacing-2\/3: 66.666667%;
  --spacing-1\/4: 25%;
  --spacing-2\/4: 50%;
  --spacing-3\/4: 75%;

  /* Bigger values */
  --spacing-100: 25rem;
  --spacing-120: 30rem;
  --spacing-128: 32rem;
  --spacing-132: 33rem;
  --spacing-140: 35rem;
  --spacing-160: 40rem;
  --spacing-180: 45rem;
  --spacing-192: 48rem;
  --spacing-200: 50rem;
  --spacing-240: 60rem;
  --spacing-256: 64rem;
  --spacing-280: 70rem;
  --spacing-320: 80rem;
  --spacing-360: 90rem;
  --spacing-400: 100rem;
  --spacing-480: 120rem;

  --bg-card: #ffffff;
  --bg-card-rgb: 255, 255, 255;
  --bg-default: #f1f5f9;
  --bg-default-rgb: 241, 245, 249;
  --text-default: #1e293b;
  --text-default-rgb: 30, 41, 59;
  --text-hint: #94a3b8;
  --text-hint-rgb: 148, 163, 184;
  --text-disabled: #94a3b8;
  --text-disabled-rgb: 148, 163, 184;
  --border: #e2e8f0;
  --border-rgb: 226, 232, 240;
  --divider: #e2e8f0;
  --divider-rgb: 226, 232, 240;
  --icon: #64748b;
  --icon-rgb: 100, 116, 139;
  --shadow-card: #959da5;
  --shadow-card-rgb: 149, 157, 165;
  --scrollbar-thumb: #c7c7c7;
  --scrollbar-thumb-hover: #7c7c7c;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-card: #273a4b;
    --bg-card-rgb: 39, 58, 75;
    --bg-default: #111827;
    --bg-default-rgb: 17, 24, 39;
    --text-default: #ffffff;
    --text-default-rgb: 255, 255, 255;
    --text-hint: #64748b;
    --text-hint-rgb: 100, 116, 139;
    --text-disabled: #475569;
    --text-disabled-rgb: 71, 85, 105;
    --border: rgba(241, 245, 249, 0.12);
    --border-rgb: 241, 245, 249;
    --divider: rgba(241, 245, 249, 0.12);
    --divider-rgb: 241, 245, 249;
    --icon: #94a3b8;
    --icon-rgb: 148, 163, 184;
    --shadow-card: #393939;
    --shadow-card-rgb: 57, 57, 57;
    --scrollbar-thumb: #6b6b6b;
    --scrollbar-thumb-hover: #888888;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.dark {
  --bg-card: #273a4b;
  --bg-card-rgb: 39, 58, 75;
  --bg-default: #111827;
  --bg-default-rgb: 17, 24, 39;
  --text-default: #ffffff;
  --text-default-rgb: 255, 255, 255;
  --text-hint: #64748b;
  --text-hint-rgb: 100, 116, 139;
  --text-disabled: #475569;
  --text-disabled-rgb: 71, 85, 105;
  --border: rgba(241, 245, 249, 0.12);
  --border-rgb: 241, 245, 249;
  --divider: rgba(241, 245, 249, 0.12);
  --divider-rgb: 241, 245, 249;
  --icon: #94a3b8;
  --icon-rgb: 148, 163, 184;
  --shadow-card: #393939;
  --shadow-card-rgb: 57, 57, 57;
  --scrollbar-thumb: #6b6b6b;
  --scrollbar-thumb-hover: #888888;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* Icon size */
@utility icon-size-* {
  width: --value(--icon-size-*);
  height: --value(--icon-size-*);
  min-width: --value(--icon-size-*);
  min-height: --value(--icon-size-*);
  font-size: --value(--icon-size-*);
  line-height: --value(--icon-size-*);
}

/* Safe Area */
@utility m-safe {
  margin-top: var(--safe-area-top);
  margin-right: var(--safe-area-right);
  margin-bottom: var(--safe-area-bottom);
  margin-left: var(--safe-area-left);
}

@utility mx-safe {
  margin-right: var(--safe-area-right);
  margin-left: var(--safe-area-left);
}

@utility my-safe {
  margin-top: var(--safe-area-top);
  margin-bottom: var(--safe-area-bottom);
}

@utility mt-safe {
  margin-top: var(--safe-area-top);
}

@utility mr-safe {
  margin-right: var(--safe-area-right);
}

@utility mb-safe {
  margin-bottom: var(--safe-area-bottom);
}

@utility ml-safe {
  margin-left: var(--safe-area-left);
}

@utility p-safe {
  padding-top: var(--safe-area-top);
  padding-right: var(--safe-area-right);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
}

@utility px-safe {
  padding-right: var(--safe-area-right);
  padding-left: var(--safe-area-left);
}

@utility py-safe {
  padding-top: var(--safe-area-top);
  padding-bottom: var(--safe-area-bottom);
}

@utility pt-safe {
  padding-top: var(--safe-area-top);
}

@utility pr-safe {
  padding-right: var(--safe-area-right);
}

@utility pb-safe {
  padding-bottom: var(--safe-area-bottom);
}

@utility pl-safe {
  padding-left: var(--safe-area-left);
}

@utility top-safe {
  top: var(--safe-area-top);
}

@utility bottom-safe {
  bottom: var(--safe-area-bottom);
}

/* Components */
@utility bg-card {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-card-rgb), var(--tw-bg-opacity));
}

@utility bg-default {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-default-rgb), var(--tw-bg-opacity));
}

@utility shadow-card {
  --tw-shadow: rgba(var(--shadow-card-rgb), 0.2) 0px 8px 24px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@utility text-default {
  --tw-text-opacity: 1;
  color: rgba(var(--text-default-rgb), var(--tw-text-opacity));
}

@utility text-hint {
  --tw-text-opacity: 1;
  color: rgba(var(--text-hint-rgb), var(--tw-text-opacity));
}

@utility text-disabled {
  --tw-text-opacity: 1;
  color: rgba(var(--text-disabled-rgb), var(--tw-text-opacity));
}

@utility no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

